*.dwl
*.dwl2
*.bak
*.log
*.tmp
*.adt
1-Situacioni/regjistri/~$Shtojca-18-Koordinatat-e-ndërtesës.xlsx
3-Katet/regjistri/~$29-Koordinatat-e-kateve.xlsx
4-Te-dhenat-per-kataster/regjistri/~$Shtojca-17-Regjistri-i-ndërrimeve-për-ndertesë.xlsx
~$Shtojca-22-Koordinatat-për-pjesë-të-ndertesës.xlsx
